<% include layout/header.ejs %>

  <div class="main">
    <div class="container">
      <div class="content">
        <div class="post">
          <div class="top">
            <h2>Post name</h2>
          </div>
          <div class="body">
            <p>
              Apple Inc. (wcześniej Apple Computer Inc.) – amerykańska korporacja zajmująca się projektowaniem i produkcją elektroniki użytkowej, oprogramowania i komputerów osobistych z siedzibą w Cupertino w Kalifornii. Założona 1 kwietnia 1976 r. przez Steve’a Wozniaka – projektanta, Steve’a Jobsa i przedsiębiorcę Ronalda Wayne’a, aby projektować i sprzedawać kompletne, zmontowane zestawy komputerów osobistych. Od stycznia 1977 r. działała formalnie jako spółka Apple Computer Inc., a od stycznia 2007 r. nazwę zmieniono na Apple Inc.
            </p>
          </div>
          <div class="bottom">
            <div class="author">
              Autor:
              <a href="/">Kamil</a>
            </div>
            <a href="/">Komentarz</a>
          </div>
        </div>
        <div class="post">
          <div class="top">
            <h2>Post name</h2>
          </div>
          <div class="body">
            <p>
              Microsoft Corporation [ˈmaɪkɹoʊˌsɑːft] – jedno z największych na świecie przedsiębiorstw z branży informatycznej[2]. Najbardziej znane jako producent systemów operacyjnych MS-DOS, Microsoft Windows i oprogramowania biurowego Microsoft Office. Spółka publiczna z siedzibą w Redmond w stanie Waszyngton. Założona w 1975 roku przez Billa Gatesa i Paula Allena. W 2012 roku przedsiębiorstwo posiadało 10 000 patentów. Przeciętne wynagrodzenie pracowników to 106 tys. dolarów rocznie[3]. W 2014 roku prezesem przedsiębiorstwa został Satya Nadella, który zastąpił na tym stanowisku Steve’a Ballmera[4]. Od 2001 roku przedsiębiorstwo produkuje konsole do gier Xbox.
            </p>
          </div>
          <div class="bottom">
            <div class="author">
              Autor:
              <a href="/">Przemek</a>
            </div>
            <a href="/">Komentarz</a>
          </div>
        </div>
      </div>

      <% include layout/sidebar.ejs %>

    </div>
  </div>

  <% include layout/footer.ejs %>