<div class="sidebar">
  <div class="box auth">


    <form method="post" class="login">
      <h2>Sing in</h2>
      <div class="form-group">
        <label for="login-login">Login</label>
        <input type="text" id="login-login" name="login" />
      </div>
      <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" id="login-password" name="password" />
      </div>
      <div class="buttons">
        <button class="switch-button secondary-inverse">Registreting</button>
        <button class="login-button">Sing in</button>
      </div>
    </form>

    <form method="post" class="register">
      <h2>Registreting</h2>
      <div class="form-group">
        <label for="register-login">Login</label>
        <input type="text" id="register-login" name="login" />
      </div>
      <div class="form-group">
        <label for="register-password">Password</label>
        <input type="password" id="register-password" name="password" />
      </div>
      <div class="form-group">
        <label for="register-password-confirm">2 password</label>
        <input type="password" id="register-password-confirm" name="passwordConfirm" />
      </div>
      <div class="buttons">
        <button class="switch-button secondary-inverse">Sing in</button>
        <button class="register-button">Registreting</button>
      </div>
    </form>

  </div>
  <div class="box">2</div>
</div>